In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
url="https://ticker.finology.in/"
r=requests.get(url)
print(r)

<Response [200]>

In [5]:

soup=BeautifulSoup(r.text, 'lxml')

In [10]:
table=soup.find("table", class_='table table-sm table-hover screenertable')

In [13]:
headers= table.find_all("th")

In [15]:
headers

[<th scope="col">Company</th>,
 <th scope="col">Price<span class="muted">Rs.</span></th>,
 <th scope="col">Day High<span class="muted">Rs.</span></th>]

#### Printing Headers

In [20]:

titles =[]
for i in headers:
    title=i.text
    titles.append(title)

In [19]:
print(titles)

['Company', 'PriceRs.', 'Day HighRs.']

In [21]:
df=pd.DataFrame(columns=titles)

In [22]:
df

Empty DataFrame
Columns: [Company, PriceRs., Day HighRs.]
Index: []

In [28]:
rows=table.find_all("tr")

In [43]:
for i in rows[1:]:
    data=i.find_all("td")
    row=[tr.text for tr in data]
    l=len(df)
    df.loc[l]=row
print(df)

                     Company PriceRs. Day HighRs.
0      \nShivansh Finserve\n     6.65        6.95
1      \nShivansh Finserve\n     6.65        6.95
2      \nShivansh Finserve\n     6.65        6.95
3        \nColab Platforms\n   106.81      106.81
4    \nDhanashree Electro.\n   107.37      107.37
5     \nRajasthan Tube Mfg\n   248.00      248.60
6   \nElitecon Internation\n   364.55      364.55
7    \nNagarjuna Agri Tech\n    58.12       58.12
8     \nKothari Indl. Corp\n   218.15      218.15
9       \nAtvo Enterprises\n    14.80       14.80
10            \nJA Finance\n   109.45      109.45
11  \nJyothi Infraventures\n   178.15      178.15
12          \nMidwest Gold\n   352.00      352.00
13  \nKashyap Tele Medicin\n     5.22        5.22
14     \nRSC International\n    44.00       44.00
15    \nGHV Infra Projects\n   340.55      340.55
16      \nHira Automobiles\n   169.60      169.60
17     \nShivansh Finserve\n     6.65        6.95

In [45]:
df.to_csv("finology_data.csv")